.holiday-widget {
    font-size: 0.7em;
}

.holiday-widget > .table > tbody > tr > td, .table > tbody > tr > th,
.holiday-widget > .table > tfoot > tr > td, .table > tfoot > tr > th, 
.holiday-widget > .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px;
    text-align: center;
}

.weekend {
    background-color: gray;
}

.nonday {
    background-color: lightgray;
}

.holiday {
    background-color: paleturquoise;
}

.daycol {
    min-width: 15px;
}
