@model MvcDashboard.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <style>
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>
}

<div>
    <h1>
        @Model.PageTitle
    </h1>

    <button onclick="clickButton()">click me</button>

    @foreach (var template in Model.ControlTemplates)
    {
        @Html.Raw(template)
    }

</div>

@section scripts{
    <script>
        function clickButton() {
            alert('boo');
        }
    </script>
}